homeassistant:
  name: Duvall
  latitude: !secret loc_latitude_home
  longitude: !secret loc_longitude_home
  elevation: !secret loc_elevation_home
  unit_system: metric
  time_zone: America/Los_Angeles
  country: US
  external_url: !secret http_external_url

  # Use external url for internal url to fix casting to google devices
  #internal_url: !secret http_internal_url
  internal_url: !secret http_external_url

  customize: !include customize.yaml
  packages: !include packages/packages.yaml
  auth_providers:
   - type: homeassistant

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#hacs:
#  token: !secret hacs_token

frontend:
  themes: !include_dir_merge_named themes

http:
  #ssl_certificate: !secret http_ssl_certificate
  #ssl_key: !secret http_ssl_key
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

cloud: !include cloud.yaml

my:

lovelace:
  mode: storage
  dashboards:
    lovelace-yaml:
      mode: yaml
      title: Admin
      icon: mdi:script
      show_in_sidebar: true
      filename: administrative.yaml
      require_admin: true

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  project_id: !secret nest_project_id

mobile_app:

recorder:
  db_url: !secret recorder_db_url
  auto_purge: true
  purge_keep_days: 30
  commit_interval: 1
  exclude:
    domains:
      - weblink
      - updater

history:
  exclude:
    domains:
      - automation
      - weblink
      - updater

emulated_hue:
  expose_by_default: false
  entities:
    light.master_bed_lamp_1:
      hidden: false
    light.master_bed_lamp_2:
      hidden: false
    light.master_bed:
      hidden: false
    light.tv_room_lights:
      hidden: false
    cover.tv_room_blinds:
      hidden: false
    switch.tv_room_plug_1:
      hidden: false
    switch.tv_room_plug_2:
      hidden: false
    switch.tv_room_plug_3:
      hidden: false
    light.stairs_lights:
      hidden: false
    cover.stairs_blinds:
      hidden: false
    light.bathroom_hallway_dimmer:
      hidden: false
    light.living_ligths:
      hidden: false
    switch.living_electronics:
      hidden: false
    light.kitchen_lights:
      hidden: false
    switch.kitchen_electronics:
      hidden: false
    light.dinning_lights:
      hidden: false
    switch.dinning_lamp_1:
      hidden: false
    switch.dinning_lamp_2:
      hidden: false
    light.hallway_lights:
      hidden: false
    light.den_lights:
      hidden: false
    light.mud_room:
      hidden: false

wemo:
  discovery: false
  static:
    - 192.168.1.200
    - 192.168.1.201

stream:
ffmpeg:

tts:
  - platform: google_translate

alarm_control_panel:
  - platform: manual

cover: !include covers.yaml
media_player: !include media_players.yaml
switch: !include switch.yaml
light: !include lights.yaml
binary_sensor: !include binary_sensors.yaml
sensor: !include sensors.yaml
camera: !include cameras.yaml
notify: !include notify.yaml
device_tracker: !include device_tracker.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
alert: !include alerts.yaml
template: !include templates.yaml
command_line: !include command.line.yaml

