substitutions:
  name: midea-thermostat
  friendly_name: Thermostat

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  name_add_mac_suffix: false
  min_version: 2025.11.0

external_components:
  #- source: github://HomeOps/ESPHome-Midea-XYE@v0.0.3
  #  components: [midea_xye]
  - source: github://mdrobnak/esphome@delays_updated
    components: [midea_xye]
    refresh: 0s
  
esp32:
  board: m5stack-atom
  framework:
    type: arduino

logger:
  level: VERY_VERBOSE
  #logs:
  #  cn40.climate: DEBUG

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.81.126
    gateway: 192.168.81.1
    subnet: 255.255.255.0  

# -------------------------------
# RS485 Direction Control (M5Stack)
# -------------------------------
# GPIO33 controls RE/DE on the M5 RS485 Base.
# LOW = Receive mode (required for sniffing CN40)
# HIGH = Transmit mode (never use for read-only)
#output:
#  - platform: gpio
#    id: rs485_dir
#    pin: GPIO33

#switch:
#  - platform: output
#    id: rs485_direction
#    output: rs485_dir
#    restore_mode: ALWAYS_OFF # ALWAYS_OFF = LOW = receive mode

uart:
  # id: xye_bus
  rx_pin: GPIO22
  tx_pin: GPIO19
  baud_rate: 4800
  data_bits: 8
  stop_bits: 1
  parity: NONE
  debug:
    direction: BOTH
    dummy_receiver: false
    after:
      delimiter: [0x55]
    sequence:
      - lambda: UARTDebug::log_hex(direction, bytes, ' ');

#climate:
#  - platform: cn40
#    uart_id: xye_bus
#    name: EVOX CN40 Climate

climate:
  - platform: midea_xye
    name: Heatpump
    period: 1s                  # Optional. Defaults to 1s
    timeout: 200ms              # Optional. Defaults to 100ms
    beeper: false               # Optional. Beep on commands.
    #default_target_temperature_low: 18°C
    #default_target_temperature_high: 24°C
    #custom_auto: true
    use_fahrenheit: false
    visual:                     # Optional. Example of visual settings override.
      min_temperature: 17 °C    # min: 17
      max_temperature: 30 °C    # max: 30
      temperature_step: 0.5 °C  # min: 0.5
    supported_modes:            # Optional. 
      - FAN_ONLY
      - HEAT_COOL              
      - COOL
      - HEAT
      - DRY
    supported_presets:      # Optional
      - ECO
      - BOOST
      - SLEEP
    outdoor_temperature:        # Optional. Outdoor temperature sensor
      name: Outside Temp
    temperature_2a:             # Optional. Inside coil temperature
      name: Inside Coil Inlet Temp
    temperature_3:
      name: Outside Coil Temperature
    timer_start:                # Optional. On timer duration
      name: Timer Start
    timer_stop:                 # Optional. Off timer duration
      name: Timer Stop
    error_flags:                # Optional.
      name: Error Flags
    protect_flags:              # Optional. 
      name: Protect Flags
    static_pressure:
      name: Static Pressure
      min_value: 0

sensor:
  - platform: homeassistant
    entity_id: sensor.downstairs_air_quality_sensor_temperature
    id: doownstairs_thermostat_follow_me
    name: "Downstairs Temperature Sensor"
    internal: true
    filters:
      - throttle: 10s
      - heartbeat: 1min
      - debounce: 1s
    on_value:
      midea_ac.follow_me:
        temperature: !lambda "return x;"
  - platform: wifi_signal
    name: ${friendly_name} Wi-Fi Signal
    update_interval: 60s
  - platform: uptime
    name: "Uptime"
    id: uptime_sec
    internal: true
  - platform: template
    name: ${friendly_name} Uptime Days
    lambda: |-
      return (id(uptime_sec).state/60)/60/24;
    icon: mdi:clock-start
    unit_of_measurement: days
    update_interval: 60s