substitutions:
  name: midea-thermostat
  friendly_name: Thermostat

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  name_add_mac_suffix: false
  min_version: 2025.11.0

external_components:
  - source: github://HomeOps/ESPHome-Midea-XYE@v0.0.12
    components: [midea_xye]
    refresh: 0s
  
esp32:
  board: m5stack-atom
  framework:
    type: arduino

logger:
  level: VERY_VERBOSE

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.81.126
    gateway: 192.168.81.1
    subnet: 255.255.255.0  

uart:
  # id: xye_bus
  rx_pin: GPIO22
  tx_pin: GPIO19
  baud_rate: 4800
  data_bits: 8
  stop_bits: 1
  parity: NONE
  debug:
    direction: BOTH
    dummy_receiver: false
    after:
      delimiter: [0x55]
    sequence:
      - lambda: UARTDebug::log_hex(direction, bytes, ' ');

climate:
  - platform: midea_xye
    name: ${name}
    period: 1s                  # Optional. Defaults to 1s
    timeout: 200ms              # Optional. Defaults to 100ms
    beeper: false               # Optional. Beep on commands.
    use_fahrenheit: false
    follow_me_sensor: thermostat_follow_me_sensor  # Automatically updates follow_me from this sensor
    internal_current_temperature:
      name: "Internal Current Temperature"
    visual:                     # Optional. Example of visual settings override.
      min_temperature: 17 °C    # min: 17
      max_temperature: 30 °C    # max: 30
      temperature_step: 0.1 °C  # min: 0.5
    supported_modes:            # Optional. 
      - COOL
      - HEAT
    outdoor_temperature:        # Optional. Outdoor temperature sensor
      name: Outside Temp
    temperature_2a:             # Optional. Inside coil temperature
      name: Inside Coil Inlet Temp
    temperature_3:
      name: Outside Coil Temperature
    timer_start:                # Optional. On timer duration
      name: Timer Start
    timer_stop:                 # Optional. Off timer duration
      name: Timer Stop
    error_flags:                # Optional.
      name: Error Flags
    protect_flags:              # Optional. 
      name: Protect Flags
    #static_pressure:
    #  name: Static Pressure
    #  min_value: 0

sensor:
  - platform: homeassistant
    entity_id: sensor.whole_home_temperature
    id: thermostat_follow_me_sensor
    name: "Whole Home Temperature Sensor"
    internal: true
    filters:
      - throttle: 10s
      - heartbeat: 30s
      - debounce: 1s
  - platform: wifi_signal
    name: ${friendly_name} Wi-Fi Signal
    update_interval: 60s
  - platform: uptime
    name: "Uptime"
    id: uptime_sec
    internal: true
  - platform: template
    name: ${friendly_name} Uptime Days
    lambda: |-
      return (id(uptime_sec).state/60)/60/24;
    icon: mdi:clock-start
    unit_of_measurement: days
    update_interval: 60s

# ---------------------------------------------------------
# PRESET CONFIG VALUES (EDITABLE IN HOME ASSISTANT)
# ---------------------------------------------------------
number:
  - platform: template
    name: "Home Min Temp"
    id: home_min
    min_value: 16
    max_value: 26
    step: 1
    initial_value: 21
    optimistic: true

  - platform: template
    name: "Home Max Temp"
    id: home_max
    min_value: 17
    max_value: 30
    step: 1
    initial_value: 23
    optimistic: true

  - platform: template
    name: "Sleep Min Temp"
    id: sleep_min
    min_value: 16
    max_value: 26
    step: 1
    initial_value: 19
    optimistic: true

  - platform: template
    name: "Sleep Max Temp"
    id: sleep_max
    min_value: 17
    max_value: 30
    step: 1
    initial_value: 21
    optimistic: true

  - platform: template
    name: "Away Min Temp"
    id: away_min
    min_value: 16
    max_value: 26
    step: 1
    initial_value: 16
    optimistic: true

  - platform: template
    name: "Away Max Temp"
    id: away_max
    min_value: 17
    max_value: 30
    step: 1
    initial_value: 25
    optimistic: true